

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
      <meta httpEquiv="Content-type" content="text/html; charset=utf-8" />
      <meta name="keywords" content="plagiarism remover, text replacer, alternative words finder" />
      <meta name="description" content="Plagiarism Remover will replace & rephrase the sentence. Just provide paragraph as an input." />
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <title>Token System</title>
      <style>
         .body {background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);}
         div.editable {
         width: 300px;
         height: 500px;
         border: 1px solid #ccc;
         padding: 5px;
         }
         .card {
         margin: auto; 
         float: none; 
         margin-bottom: 10px; 
         margin-top: 20px;
         border: none;
         padding: 0px 10px;
         }
         strong {
         font-weight: bold;
         }
      </style>
   </head>
   <body>
<div class="card text-center">
    <div class="container" style="margin-top: 20px"> 
      <div class="jumbotron">
        <h1>Token System</h1>
        <p class="lead">Generate & distribute tokens.</p>
        <form method="post">
            <input class="btn btn-lg btn-success" type="submit" value="Create"/>
        </form>
      </div>
</div>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
            </div>
        </div>
        <br><br>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Time Estimation</h4>
                <p class="text-muted">Displays estimated time for your token to arrive.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Centralized Design</h4>
                <p class="text-muted">Admin control available.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Universal</h4>
                <p class="text-muted">Easy to use, one click universal system.</p>
            </div>   
        </div>
    </div>
</section>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   </body>
</html>